<main class="bg-secondary-subtle vh-100 d-flex justify-content-center">
  <div
    class="border rounded-2 align-self-center bg-body w-100"
    style="max-width: 30rem"
  >
    <div class="border-bottom p-3">
      <a routerLink="/" class="back-link d-flex align-items-center"
        ><span class="d-block svg-arrow-left bg-primary"></span>
        <h6 class="my-0 ms-1 text-primary">Back</h6>
      </a>
    </div>
    <form
      class="form rounded-0 p-3 align-self-center d-flex flex-column align-items-center"
      (submit)="submitSignIn()"
    >
      <h1>Sign In</h1>
      <p class="fw-light text-secondary fs-6">
        Sign in your username and password
      </p>
      <div class="form-group w-100">
        <label for="userNameInput" class="fs-7">Username</label>
        <input
          type="text"
          class="form-control bg-light-subtle"
          autocomplete="username"
          name="userName"
          [(ngModel)]="signInInput.userName"
          id="userNameInput"
          placeholder="Enter Username"
        />
      </div>
      <div class="form-group w-100 my-2">
        <label for="passwordInput">Password</label>
        <input
          type="password"
          class="form-control bg-light-subtle"
          id="passwordInput"
          [(ngModel)]="signInInput.password"
          name="password"
          autocomplete="current-password"
          placeholder="Enter Password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block my-3 w-100"
        [disabled]="signInInput.userName === '' || signInInput.password === ''"
      >
        Sign in
      </button>
      <p>
        Don't have an account?
        <a routerLink="/sign-up">Sign up</a>
      </p>
    </form>
  </div>
</main>
